*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
	border: 4px dashed darkcyan;
	padding: 1rem;
	text-align: center;
}

#temp-msg {
	padding: 0.5rem;
	font-weight: bold;
	font-size: 1rem;
	display: none;
}

.spacing {
	margin: 1.5rem;
}

label {
	vertical-align: top;
}

.checkbox-wrap {
	margin-bottom: 0.5rem;
}
